* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header figure {
    display: inline-block;
    margin-left: 100px;
    width: 70px;
}
header figure img {
    width: 100%;
}
nav {
    position: absolute;
    right: 5%;
    top: 7%;
    transform: translateY(-50%);
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
nav ul li a {
    display: block;
    text-decoration: none;
}

div{
    
}