* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background-color: rgb(239, 224, 224);
    padding: 15px;
    width: 100%;
    z-index: 1000;
}
header figure {
    display: inline-block;
    margin-left: 100px;
    width: 70px;
}
header figure img {
    width: 100%;
}
nav {
    float: right;
    margin-right: 100px;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color: #333447;
}
nav ul li a:hover {
    color: #ff00bf;
}
hr {
    top: 60px;
}
div{
    

/*clase reutilizable*/

body{
    font-family: 'Montserrat';
}
.text-uppercase{
    text-transform: uppercase;
}

/*Seccion inicial*/

.start{
    background-image: url(assets/images/hero.gif);
}